@page
@model IndexModel
@{
    ViewData["Title"] = "Train Watch";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Train Watch!</h1>
    <p>This is a place where people love to watch trains!</p>
</div>

<a asp-area="" asp-page="/Index">
    <img src="~/img/Thomas-The-Mad-Engine.jpg" alt="Logo Image" title="Contact Us" width="80" height="80" />
</a>

