@page "{SearchArg?}/{searchid?}"
@model TrainWebApp.Pages.QueryModel
@{
    ViewData["Title"] = "Query";
}
<h1>Queries for Train Watch</h1>
<p></p>
<form method="post">

   
    <label>
        Search by Reporting Mark
           
        <input type="text" asp-for="SearchArg"
               placeholder="Enter the partial rm " required />
    </label>
     <br />

        <button type="submit" asp-page-handler="Fetch">Fetch by Partial</button>
    <button type="submit" asp-page-handler="Clear"formnovalidate>Clear</button>
   
   
    @if (Model.RollingStockInfo != null)
    {
        if (Model.RollingStockInfo.Count() == 0)
        {
            <p style="color: red; font-weight: bold; font-size: large">
                There are no Trains matching your search request
            </p>
        }
        else
        {
            <table>
                <thead>
                    <tr>
                        <th>Reporting Mark</th>
                        <th>Owner</th>
                        <th>Capacity</th>
                        <th>InService</th>
                    </tr>
                </thead>
                <tbody>   
                    @foreach (var item in Model.RollingStockInfo)
                    {
                        <tr>
                            <td>@item.ReportingMark</td>

                            

                        </tr>
                    }
                </tbody>
            </table>
        }
    }
   
    
</form>

